.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.weather {
    height: 100%;
    display: grid;
    grid-template-columns: 300px minmax(300px, 600px);
    grid-auto-rows: 300px;
    gap: 30px;
    padding: 90px 20px 90px 20px;
    justify-content: center;
    color: var(--font-color);

    &__card {
        background-color: var(--card-color);
        border-radius: 10px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        padding: 10px 20px;
    }
}

.divider {
    background: linear-gradient(#a3ace4, #d8e3f4);
    height: 2px;
    width: 135%;
    margin-bottom: 3px;
    border-radius: 3px;
}

.measure {
    width: 3px;
    border-radius: 3px 3px 0 0;
    background: linear-gradient(#d8e3f4, #a3ace4);
}

#current {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-height: 300px;
    justify-self: center;

    img {
        max-height: 125px;
        object-fit: contain;
        margin: 0 auto;
        padding: 10px;
    }

    .temperature, .weather-type {
        display: flex;
        justify-content: space-between;
    }
}

#forecast, #week {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex: 1 0 auto;
        list-style: none;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin: 0 3px;
        }
    }

    .humidity-img {
        max-width: 15px;
        margin-left: 6px;
    }

    .date {
        font-weight: 400;
    }

    img {
        max-width: 40px;
    }

    select {
        padding: 5px;
        font-size: 30px;
        color: var(--secondary-color);
        font-weight: 700;
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 0;
        cursor: pointer;

        option {
            color: #1B2432;
            font-size: 20px;
            font-weight: 300;
            background-color: #F4FAFF;
        }
    }   
}

#week {
    grid-column: 2/3;
}

h2, #country {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    margin: 0;
}

.card-animation {
    &-appear {
        transform: scale(0.95);
    }
    &-appear-active {
        transform: scale(1);
        transition: all 300ms;
    }
    &-enter { 
        transform: scale(0.95);
    }
    &-enter-active {
        transform: scale(1);
        transition: all 300ms;
    }
    &-exit {
        transform: scale(0.1);
    }
    &-exit-active {
        transform: scale(0.95);
        transition: all 300ms;
    }
}

@media(max-width: 955px) {
    .weather {
        grid-template-columns: 300px minmax(300px, 600px);
    }
}

@media(max-width: 888px) {
    .weather {
        grid-template-columns: minmax(300px, 600px);
        grid-template-rows: repeat(2, minmax(300px, auto)) minmax(300px, auto);

        #week, #forecast {
            grid-column: 1/2;
            ul {
                flex-wrap: wrap;
            }
        }

        #forecast {
            li {
                flex-basis: 14%;
                margin-top: 15px;
            }
        }
    }
}

@media(max-width: 800px) {
    .weather {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media(max-width: 538px) {
    .weather {
        #forecast {
            li {
                flex-basis: 20%;
            }
        }

        #week {
            ul {
                justify-content: space-evenly;
            }
            li {
                margin-top: 15px;
                flex-basis: 19%;
            }
        }
    }
}

@media(max-width: 432px) {
    .weather {
        #forecast {
            .row {
                flex-direction: column;
            }
        }
    }
}

@media(max-width: 396px) {
    .weather {
        #week {
            li {
                flex-basis: 25%;
            }
        }
    }
}

@media(max-width: 382px) {
    .weather {
        #forecast {
            li {
                flex-basis: 30%;
            }
        }
    }
}