.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.weather {
    height: 100%;
    display: grid;
    grid-template-columns: 300px minmax(300px, 550px);
    grid-auto-rows: 300px;
    gap: 30px;
    padding: 90px 20px 90px 20px;
    justify-content: center;
    color: var(--font-color);

    &__card {
        background-color: var(--card-color);
        border-radius: 10px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        padding: 10px 20px;
    }
}

#current {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-height: 300px;

    img {
        max-height: 125px;
        object-fit: contain;
        margin: 0 auto;
        padding: 10px;
    }

    .temperature, .weather-type {
        display: flex;
        justify-content: space-between;
    }
}

#forecast {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        flex: 1 0 auto;
        list-style: none;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }
    }

    .humidity-img {
        max-width: 15px;
        margin-left: 6px;
    }

    .date {
        font-weight: 400;
    }

    .measure {
        width: 3px;
        // height: 100px;
        border-radius: 3px;
        background: linear-gradient(#a3ace4, #d8e3f4);
    }

    img {
        max-width: 40px;
    }

    select {
        padding: 5px;
        font-size: 30px;
        color: var(--secondary-color);
        font-weight: 700;
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 0;
        cursor: pointer;

        option {
            color: #1B2432;
            font-size: 20px;
            font-weight: 300;
            background-color: #F4FAFF;
        }
    }   
}

#week {
    display: flex;
    flex-direction: column;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex: 1 0 auto;
        list-style: none;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }
    }

    .humidity-img {
        max-width: 15px;
        margin-left: 6px;
    }

    .date {
        font-weight: 400;
    }

    .measure {
        width: 3px;
        border-radius: 3px;
        background: linear-gradient(#a3ace4, #d8e3f4);
    }

    img {
        max-width: 40px;
    }

    select {
        padding: 5px;
        font-size: 30px;
        color: var(--secondary-color);
        font-weight: 700;
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 0;
        cursor: pointer;

        option {
            color: #1B2432;
            font-size: 20px;
            font-weight: 300;
            background-color: #F4FAFF;
        }
    }   
}

h2, #country {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    margin: 0;
}

// @media (max-width: 1000px) {
//     .weather {
//         grid-template-columns: 300px minmax(300px, 600px);
//     }
// }

// @media (max-width: 899px) {
//     .weather {
//         grid-template-columns: minmax(520px, 600px);
//         grid-template-rows: repeat(2, minmax(300px, min-content));
//     }

//     #current {
//         justify-self: center;
//     }
// }

// @media (max-width: 600px) {
//     .weather {
//         grid-template-columns: 300px;
//         grid-template-rows: minmax(300px, min-content) 325px;
//     }

//     #forecast {
//         overflow-X: scroll;
//         padding: 10px 0;
//         scrollbar-color: #d8e3f4 transparent;
//         grid-column: 1/2;

//         ul {
//             width: fit-content;

//             li {
//                 min-width: 56px;
//             }
//         }

//         .row {
//             position: absolute;
//             flex-direction: column;
//             max-height: 50px;
//             padding: 0 10px;
//         }
//     }

//     h2, select {
//         font-size: 29px;
//     }
// }