:root {
    --main-color: #F4FAFF;
    --secondary-color: #1B2432;
    --btn-color: #1B2432;
    --card-color: rgba(19, 25, 35, 0.494);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 568px;
}

#root {
    display: flex;
    min-height: 568px;
    height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 1280px;
    width: 100vw;
    height: 100%;
    background-color: var(--main-color);
    margin: 0px auto;
    // flex: 1 0 auto;
}

main {
    backdrop-filter: blur(10px);
    flex-grow: 1;
}
