:root {
    --main-color: #19212D;
    --secondary-color: #F4FAFF;
    --btn-color: #dfd898;
    --btn-font-color: #1B2432;
    --font-color: #F4FAFF;
    --card-color: #1C232F;
    --skeleton-main-color: rgba(19, 25, 35, 0.789);
    --skeleton-secondary-color: rgba(22, 29, 40, 0.79);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    transition: background-color 0.15s, color 0.15s;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

#root {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1280px;
    width: 100vw;
    height: 100%;
    background-color: var(--main-color);
    margin: 0px auto;
    min-height: calc(100vh - 70px);
}

main {
    backdrop-filter: blur(10px);
    flex-grow: 1;
    // max-height: calc(100vh - 70px);
}

@media(max-width: 800px) {
    .container {
        min-height: calc(100vh - 200px);
    }
}