.skeleton {
    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-rows: minmax(300px, min-content);
    justify-content: center;
    gap: 20px;
    padding: 90px 20px 90px 20px;

    &__item {
        width: 100%;
        height: 100%;
        background-color: var(--card-color);
        border-radius: 10px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        padding: 20px;
        // max-height: 300px;

        &_wide, &_wider {
            .skeleton {
                &__footer {
                    margin-top: 20px;
                }

                &__info {
                    margin-bottom: 20px;
                    height: 65px;

                    &:nth-of-type(3) {
                        width: 70%;
                    }
                }
            }
        }

        &_wider {
            grid-column: 1/3;

            .skeleton {
                &__header {
                    &:nth-of-type(2) {
                        width: 30%;
                    }
                }
                &__info {
                    &:nth-of-type(3) {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__header, &__info, &__img, &__footer {
        background: linear-gradient(90deg, var(--skeleton-main-color) 10px, var(--skeleton-secondary-color) 45px, var(--skeleton-main-color) 80px);
        width: 100%;
        background-position: 100%;
        background-size: 200%;
        border-radius: 5px;
        animation: skeleton-animation 2s infinite;
    }

    &__header {
        height: 40px;
        width: 50%;
    }

    &__info {
        margin-top: 10px;
        height: 60px;
        width: 100%;
    }

    &__img {
        margin-top: 10px;
        height: 90px;
        width: 130px;
    }

    &__footer {
        margin-top: 10px;
        height: 40px;
    }
}

@keyframes skeleton-animation {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: -100%;
    }
}